<% if !session[:user] %>
  <form method="get" action="/users/signin">
    <button type="submit">Sign in</button>
  </form>
<% end %>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>">
        <%= file %>
      </a>
      --
      <a href="/<%= file %>/edit">
        Edit file
      </a>
      --
      <form method="post" action="/delete/<%= file %>" class="inline">
        <button type="submit">Delete file</button>
      </form>
    </li>
  <% end %>
</ul>
<p>
  <a href="/new">New Document</a>
</p>
<% if session[:user] %>
  <div>
    <em>Signed in as <%= session[:user] %>.</em>
    <form method="post" action="/users/signout" class="inline">
      <button type="submit">Sign Out</button>
    </form>
  </div>
<% end %>